.education-section{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background: url(../assets/img/background4.png) center center fixed;
    .div-karmademy-section{
        width: 75vw;
        margin-top: 78px;
        margin-bottom: 40px;
        .div-karmademy-title{
            margin: 30px 0;
            padding: 0 7px;
            .karmademy-title{
                color: $color-white;
                font-size: 3rem;
                letter-spacing: 0.6rem;
                text-align: center;
                display: inline;
            }
        }
        .div-karmademy-text{
            .karmademy-text{
                font-family: $font-primary;
                color: $color-white;
                font-size: 1.4rem;
                text-align: center;
                max-width: 600px;
                margin-bottom: 50px;
                padding: 0 10px;
            }
        }
        .div-karmademy-cards {
            flex-wrap: wrap;
            row-gap: 50px;
            .karmademy-card{
                width: 430px;
                max-width: 430px;
                padding: 5px;
                min-height: 240px;
                .education-logo{
                    width: auto;
                }
                .karmademy-title-description{
                    font-family: $font-primary;
                    color: $color-white;
                    font-size: 1.4rem;
                    font-weight: 700;
                    text-align: center;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    letter-spacing: 2px;
                }
                .div-karmademy-description{
                    min-height: 110px;
                    .karmademy-description{
                        font-family: $font-primary;
                        color: $color-white;
                        // font-size: 1.2rem;
                        text-align: center;
                        
                    }
                    @include flex (flex-start, center, column);
                }
                @include flex (space-between, center, column);
            }
            @include flex (space-between, center, row);
        }
        @include flex (center, center, column);
    }
    .div-education-section{
        width: 100%;
        margin-top: 100px;
        padding-bottom: 40px;
        background-color: white;
        .div-education-title{
            margin: 50px auto 30px auto;
            padding: 0 7px;
            .education-title{
                color: $color-black;
                font-size: 3rem;
                letter-spacing: 0.6rem;
                text-align: center;
                display: inline;
            }
        }
        .div-education-cards{
            flex-wrap: wrap;
            row-gap: 40px;
            max-width: 90%;
            .education-card{
                // background-color: #101010;
                width: 600px;
                .education-card-img{
                    padding: 10px;
                    width: 200px;
                    align-self: center;
                }
                .education-card-bio{
                    padding: 8px;
                    .artist-name{
                        font-family: $font-primary;
                        margin-left: 5px;
                        color: $color-primary;
                        font-weight: 700;
                        font-size: 2rem;
                    }
                    .artist-labels{
                        font-family: $font-primary;
                        margin-left: 5px;
                        color: $color-black;
                    }
                    .artist-bio{
                        font-family: $font-primary;
                        margin-left: 5px;
                        color: $color-black;
                        font-weight: 300;
                        margin-top: 10px;
                    }
                }
                @include flex (flex-start, normal, row)
            }
            @include flex (space-evenly, center, row)
        }
        .div-education-footer{
            margin: 50px auto 20px auto;
            padding: 0 7px;
            .education-footer{
                color: $color-black;
                font-size: 1.5rem;
                letter-spacing: 0.6rem;
                display: inline;
                text-align: center;
            }
        }
        @include flex (center, center, column);
    }
    @include flex (flex-start, center, column)
}