@media (max-width: 576px) {
    .main .div-h2 h2 {
        font-size: 0.85rem;
    }
    .main .splash h1 {
        font-size: 0.85rem;
    }
    .main .splash {
        margin-top: 0px;
    }
    .index-divider {
        min-height: 10px;
    }
    .about-section .div-about-section {
        max-width: 100%;
    }
    .cards-section .div-cards a .div-card {
        margin: 0;
    }
    .cards-section .div-cards {
        gap: 30px;
    }
    .education-section .div-education-section .div-education-cards .education-card .education-card-bio .artist-name {
        font-size: 1.6rem;
    }
    .cards-section .div-cards-header .div-cards-title {
        font-size: 2.6rem;
    }
    .music-section .div-music-section .div-music-title .music-title {
        font-size: 2rem;
    }
    .tour-section .div-tour-section .div-tour-title .tour-title {
        font-size: 2rem;
    }
    .education-section .div-education-section .div-education-title .education-title {
        font-size: 2rem;
    }
    .contact-section .div-contact-section .div-contact-title .contact-title {
        font-size: 2rem;
    }
    .music-section .div-music-section {
        width: 90%;
    }
    .contact-section .div-contact-section {
        width: 90%;
    }
    .about-section .div-about-section .div-about-pic .about-pic {
        max-width: 250px;
    }
    .tour-section .div-tour-section .div-tour-list {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .tour-section .div-tour-section .div-tour-list .first-div-tour-list .first-tour-list .tour-date {
        text-align: center;
    }
    .tour-section .div-tour-section .div-tour-list .first-div-tour-list .second-tour-list .tour-location {
        text-align: center;
    }
    .tour-section .div-tour-section .div-tour-list .second-div-tour-list .div-tour-tickets {
        text-align: center;
    }
    .tour-section .div-tour-section .div-tour-list .first-div-tour-list .first-tour-list {
        width: auto;
    }
    .video-section .div-video-section .div-video-title {
        padding: 20px;
    }
    .education-section .div-education-section .div-education-footer .education-footer {
        font-size: 1rem;
        text-align: center;
    }
    .education-section .div-karmademy-section .div-karmademy-cards .karmademy-card {
        min-height: auto;
    }
    .contact-section .div-contact-section .div-contact-cards .contact-data p {
        text-align: center;
    }
    .contact-section .div-contact-section .div-contact-cards .contact-data .div-span-logo span {
        text-align: center;
    }
    .contact-section .div-contact-section .div-contact-cards .contact-data .div-span-logo {
        margin: auto;
    }
    .contact-section .div-contact-section .div-contact-cards .contact-data .div-mini-logos {
        display: flex;
        flex-wrap: wrap;
    }
    .contact-section .div-contact-section {
        padding: 20px;
    }
    .contact-section .div-contact-section .div-contact-title {
        margin-top: 20px;
    }
    .video-section .div-video-section .div-video-title .video-title {
        font-size: 1.6rem;
    }
    .cards-section .div-cards-header {
        margin-top: 20px;
    }
    .education-section .div-education-section {
        padding-bottom: 0px;
    }
    .education-section .div-karmademy-section .div-karmademy-title .karmademy-title {
        font-size: 2rem;
    }
    .education-section .div-karmademy-section .div-karmademy-text .karmademy-text {
        font-size: 1.2rem;
    }
    .education-section .div-karmademy-section .div-karmademy-cards .karmademy-card .education-logo {
        width: 80px;
    }
}

@media (max-width: 414px) {
    .main {
        min-height: 100vh;
    }
    .main .div-h2 {
        margin-top: 0px;
    }
    .about-section .div-about-section .div-about-text .about-text {
        font-size: 0.85rem;
    }
    .nav-mobile a li {
        font-size: 1rem;
    }
    .education-section .div-education-section .div-education-title .education-title {
        display: block;
    }
    .education-section .div-education-section .div-education-footer {
        width: 85%;
    }
    .education-section .div-karmademy-section .div-karmademy-cards .karmademy-card {
        width: 96%;
    }
    .contact-section .div-contact-section .div-contact-cards .contact-data p{
        font-size: 0.85rem;
    }
    .contact-section .div-contact-section {
        padding: 6px;
    }
}